/*main*/
html {
  scroll-behavior: smooth;
}

:root {
  --main-color--: aqua;
}

::selection {
  background-color: var(--main-color--);
  color: black;
}

::-moz-selection {
  /* Code for Firefox */
  background-color: var(--main-color--);
  color: black;
}

/*scrollbar*/
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: #333333;
}

::-webkit-scrollbar-thumb:hover {
  background: #262626;
}

/*navigation*/
#nav-link-li {
  color: white;
  margin-right: 80px;

}

#nav-link-li:hover {
  color: black;
  opacity: 0.8;
  background-color: yellow;
}

@media only screen and (max-width: 600px) {
  #nav-link-li {
    margin-right: 0;

  }
}

.contact-logo {
  padding-left: 100px;
}

@media only screen and (max-width: 600px) {
  .contact-logo {
    padding-left: 5px;
  }
}

/*contact section*/

#contact-body {
  background-image: url(../images/7.gif);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: 'Bangers', cursive;
  height: 100vh;
}

@media only screen and (max-width: 600px) {
  #contact-body {
    height: 130vh;
  }
}


#contact-section {
  margin-left: 250px;
  margin-top: -50px;

}

@media only screen and (max-width: 600px) {
  #contact-section {
    margin-left: 0;
    margin-top: -30px;
  }
}

#contact-p {
  background: linear-gradient(to right, yellow 0%, aqua 100%);
  color: black;
  font-weight: 700;
  font-size: 20px;
}



#button {
  width: 200px;
  color: black;
  font-weight: 700;
  background: linear-gradient(to right, yellow 0%, aqua 100%);
  opacity: 0.5;
  border: none;

}

#button:hover {

  opacity: 1;

}

/*footer*/
footer {
  background-color: black;
  height: 150px;
}

.footer-text:hover {
  color: tomato;
}

.footer-text-p {
  color: tomato;
  font-family: 'Monoton', cursive;
}
