/*main css*/
html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: white;
}

::-webkit-scrollbar-thumb:hover {
  background: azure;
}

:root {
  --main-color--: black;
}

::selection {
  background-color: var(--main-color--);
  color: black;
}

::-moz-selection {
  /* Code for Firefox */
  background-color: var(--main-color--);
  color: black;
}

.font {
  font-family: 'Bangers', cursive;

}

li {
  list-style-type: none;
}

.a-link {
  color: yellow;
}

.a-link:hover {
  color: yellowgreen;
}

@media only screen and (max-width: 600px) {
  .first {
    order: 1;
  }

  .second {
    order: 2;
  }
}

@media only screen and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) {
  .first {
    order: 1;
  }

  .second {
    order: 2;
  }
}

@media only screen and (min-device-width : 1024px)
and (max-device-width : 1366px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) {
  .first {
    order: 0;
  }

  .second {
    order: 0;
  }
}

/*Header*/
.header-text {
  color: white;
  margin-top: 250px;
  padding-left: 110px;

}

@media only screen and (max-width: 600px) {
  .header-text {
    color: white;
    margin-top: 150px;
    text-align: center;
    padding-left: 0;
    padding: 10px;

  }
}

@media only screen and (min-device-width : 768px) 
and (max-device-width : 1024px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) {
  .header-text {
    text-align: center;
    padding-left: 0;
    font-size: 100px;


  }
}

.navbar-default.scrolled {
  background: #000;
  opacity: 0.9;
}

#nav-link-li {
  color: white;
}

#nav-link-li:hover {
  color: black;
  opacity: 0.8;
  background-color: yellow;
}
#logout-link{
  color: black;
  opacity: 0.8;
  background-color: yellow;
}
.header-h1 {
  font-size: 55px;
}

@media only screen and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) {
  .header-h1 {
    font-size: 85px;
    padding: 10px;
  }
}

@media only screen and (min-device-width : 1024px) 
and (max-device-width : 1366px) 
and (orientation : portrait) 
and (-webkit-min-device-pixel-ratio: 2) {
  .header-h1 {
    font-size: 100px;
    padding: 10px;
  }
}

.header-button {
  color: white;
  padding: 10px;
  /*background: linear-gradient(to right, #C14223 0%, #47718A 100%);*/
  background: black;
  border: none;
  font-size: 17px;
  border-radius: 2px;
  margin-top: 10px;
  transition: 0.6s;
}
.header-button:hover{
  color: black;
  background: white;
}


@media only screen and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) 
and (-webkit-min-device-pixel-ratio: 2) {

  .header-button-1,
  .header-button-2,
  .header-button-3 {
    font-size: 30px;
  }
}

@media only screen and (min-device-width : 1024px) 
and (max-device-width : 1366px) 
and (orientation : portrait) 
and (-webkit-min-device-pixel-ratio: 2) {

  .header-button-1,
  .header-button-2,
  .header-button-3 {
    font-size: 50px;
  }
}


.sup-number-1 {
  font-size: 25px;
  color: orange;
  top: -.0em;

}

.sup-number-2 {
  font-size: 25px;
  color: orangered;
  top: -.0em;
}

.sup-number-3 {
  font-size: 25px;
  color: yellow;
  top: -.0em;
}

@media only screen and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) 
and (-webkit-min-device-pixel-ratio: 2) {

  .sup-number-1,
  .sup-number-2,
  .sup-number-3 {
    font-size: 50px;
    opacity: 1;
  }
}

.header-img {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 200px;
  padding-right: 50px;
  padding-bottom: 20px;
}

@media only screen and (max-width: 600px) {
  .header-img {
    position: absolute;
    width: 70px;
    padding-right: 10px;
    padding-bottom: 10px;
  }
}

.p-color {
  color: var(--main-color--);
}

@media only screen and (max-width: 600px) {
  .center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

#carousel-item,
#carousel-item-2 {
  height: 100vh;
  min-height: 200px;
  background: no-repeat center center scroll;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;

}

/*main-section*/
#main {
  background:white;
  color: black;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*services*/
#cards {

  margin-left: auto;
  margin-right: auto;
  background: #050505;
  color: white;

}

#cards:hover {
  background-color: black;
  color: white;
  opacity: 1;
}

#card-img {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
}

/*Image Comparison section*/
.service-list {
  font-size: 20px;
}
.service-li:hover{
  color: green;
}
.service-h1 {
  font-size: 50px;
}

.service-p {
  font-size: 20px;
}

.img-comp-container {
  position: relative;
  height: 500px;
}

.img-comp-img {
  position: absolute;
  width: auto;
  height: auto;
  overflow: hidden;
}

.img-comp-img img {
  display: block;
  vertical-align: middle;
  padding-left: 20px;
}

@media only screen and (max-width: 600px) {
  .img-comp-img img {

    padding-left: 0px;
  }
}

@media only screen and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) {
  .img-comp-img img {
    padding-left: 0px;
  }
}


@media only screen and (max-width: 600px) {
  .img-comp-slider {

    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .services-2-text {

    margin: 10px;
  }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .services-2-text {

    text-align: center;
  }
}

.img-comp-slider {
  position: absolute;
  z-index: 9;
  cursor: ew-resize;
  width: 64px;
  height: 64px;
  background-repeat: no-repeat;
  background-image: url(../images/slider.png);

  opacity: 1;
  border-radius: 50%;
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .img-comp-slider {

    display: none;
  }
}

.comp-img-1,
.comp-img-2,
.comp-img-3 {
  width: 700px;
  height: 500px;

}

@media only screen and (max-width: 600px) {

  .comp-img-1,
  .comp-img-2,
  .comp-img-3 {
    width: 100%;
    height: 300px;
  }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio: 2) {

  .comp-img-1,
  .comp-img-2,
  .comp-img-3 {
    width: 100%;
    height: 100%;
  }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio: 1) {

  .comp-img-1,
  .comp-img-2,
  .comp-img-3 {
    width: 100%;
    height: 100%;
    padding: 10px;
  }
}

@media only screen and (min-device-width : 1024px) and (max-device-width : 1366px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio: 2) {

  .comp-img-1,
  .comp-img-2,
  .comp-img-3 {
    width: 100%;
    height: 500px;

  }
}

@media only screen and (max-width: 600px) {
  .img-comp-container {
    width: 100%;
    height: 300px;
    /*should be the same height as the images*/
  }
}

/*blog seciton*/
#blog {

  height: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 50px;
  margin-top: 50px;
}


.blog-h1-1 {
  background-color:black;
  color: yellow;
  padding: 10px;
  opacity: 0.8;
}


.p-blog {
  font-size: 20px;
  color: yellow;
  font-family:'Times New Roman',sans-serif;
  margin-top: -10px;
}
.blog-content{
  color: white;
  font-family:'Times New Roman',sans-serif;
  font-size: 25px;
  padding: 10px;
}

/*parthners section*/
.clients-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  filter: grayscale(50);
}
.clients-img:hover {
 filter: grayscale(0);
  transition: 1s;
}
